$bg-orange: #EC4D20;
$bg-organge-hover: #DF4013;
$bg-light-orange: #EC6E24;
$bg-yellow: #ffc107;
$bg-black: #040404;
$bg-light-black: #232422;
$bg-gray: #39332F;
$bg-light-gray: #8D8D87;
$bg-image: url('https://res.cloudinary.com/el-fogon-de-coz/image/upload/v1650670193/website/bg_u2rc6x.jpg');

$color-white: #fff;
$color-item: #ececec;
$color-item2: #f1f1f1;