@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$login-bg: #f3f3f3;
$title-bg: #000;
$button-bg: #E84C21;
$light-pink: #e95931;
$image-bg: #fcb364;

.main_layaout {
    height: 100vh;
    background-color: #e95931;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login_container {
    height: 590px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.login_info_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $login-bg;
    font-family: 'Poppins', sans-serif;
}

.image_container {
    position: relative;
    padding: 32px;
    width: 50%;
    background-color: $image-bg;
    box-sizing: border-box;
}
.container_logo{
    margin-top: 20px;
    position: relative;
    width: 130px;
    height: 130px;
}
.title {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $title-bg;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}

.social_login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social_login_element {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid $button-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_login_element i {
    font-size: 20px;
    margin-right: 8px;
}

.social_login_element:nth-child(2) i {
    color: #4267b2;
}

.social_login_element:nth-child(1) i {
    color: #D50f25;
}

.social_login_element:hover {
    background-color: #f8f8f8;
}

.login_info_container>p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.inputs_container {
    height: 55%;
    &.register{
        height: 60%;
    }
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


.input,
.btn_login {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline-color: $button-bg;
}

.input:hover {
    border: 2px solid $button-bg;
}

.btn_login {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: $button-bg;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.inputs_container p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.span {
    color: $light-pink;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.span:hover {
    text-decoration: underline;
}

.display_error{
    background-color: #d33f3f;
    background-color: #dc3545;
    width: 90%;
    padding: 10px;
    color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.display_error i{
    font-size: 22px;
    margin-right: 8px;
}

@media screen and (max-width: 1000px) {
    .login_container {
        width: 70%;
        margin-top: 3rem;
    }

    .login_info_container {
        width: 100%;
        border-radius: 5px;
    }

    .image_container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login_container {
        width: 90%;
    }

    .social_login_element {
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {
    .title {
        font-size: 24px;
    }

    .login_container {
        height: 90%;
    }

    .social_login {
        flex-direction: column;
        align-items: center;
        height: 22%;
    }

    .login_info_container>p {
        margin: 0;
    }
    .social_login_element{
        width: 90%;
    }
}