html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #040404;
}

#__next{
  background-color: #040404;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.text-uppercase{
  text-transform: uppercase;
}
.main_layout{
  min-height: 400px;
  background-color: #040404;
  color: #fff;
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}
@media screen and (max-width: 380px) {}