@use "scss/colors" as *;

.nav_link_custom {
    color: rgba(255, 255, 255, .8) !important;
    &:hover{
        color: rgba(255, 255, 255, 1) !important;
    }
    &.active{
        color: $bg-yellow !important;
    }
}   

.bg_navbar{
    background-color: $bg-black !important;
}
.btn_menu{
    background-color: $bg-orange;
    color: $color-white;
    &:hover{
        background-color: $bg-organge-hover;
        color: $color-white;
    }
}
