@use "scss/colors" as *;

.height_100{
    height: 100%;
}

.section{
    min-height: 550px;
    width: 100%;
    color: $color-white;
    background: $bg-black;
    display: flex;
    align-items: center;

    .sub_contenedor{
        height: 400px;
        .reserva{
            height: 100%;
            width: 100%;
            background: $bg-orange;
            border-radius: 25px;
            text-align: center;
            h2{
                font-size: 20px;
                font-weight: bold;
                padding-top: 35px;
            }
            form{
                padding: 25px;
                input{
                    border-radius: 25px;
                    border: none;
                    background-color: #ffffff50;
                    color: #fff;
                    font-weight: bold;
                    &::placeholder{
                        color: #fff;
                        font-weight: bold;
                    }
                }
                .button_reserve{
                    background-color: $bg-black;
                    color: $color-white;
                    width: 100%;
                    border-radius: 25px;
                    text-transform: capitalize;
                    font-weight: bold;
                    &:hover{
                        background-color: #000;
                    }
                }
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}
@media screen and (max-width: 380px) {}