@use "../../styles//scss/colors"as *;

.categorias {
    padding: 10px;
    margin-bottom: 10px;

    ul {
        max-width: 800px;
        padding: 0;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0;
            margin: 5px;
            padding: 10px 15px;
            border-radius: 10px;
            font-weight: bold;
            box-shadow: 0 0 1px 0.5px #8d8d87;
            transition: 0.2s ease;
            text-transform: uppercase;
            cursor: pointer;

            &.active,
            &:hover {
                background-color: #ec4d20;
                box-shadow: 0 0 1px 0.5px #ec4d20;
            }
        }
    }
}

@media (max-width: 476px) {
    .categorias {
        padding: 0;

        ul {
            width: 100%;
            justify-content: center;

            li {
                margin: 5px 10px;
                padding: 10px 10px;
            }
        }
    }
}
@media (max-width: 435px) {
    .categorias {
        padding: 0;

        ul {
            width: 100%;
            justify-content: center;

            li {
                width: 100%;
                text-align: center;
                margin: 5px 0;
                padding: 10px;
            }
        }
    }
}